* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    max-width: 1400px;
    margin: auto;
}

.header_section {
    background: linear-gradient(to bottom, #fff, #fdfeff, #b39ef1);
    margin-top: 20px;
}

.nav_section {
    max-width: 1216px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_section img {
    width: 110px;
    height: 32px;
}


.nav_ul {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-items: center;
}

.nav_ul li {
    list-style: none;
    /* font-family: 'Plus Jakarta Sans'; */
    font-size: 16px;
    color: #475569;
    font: bold;
    font-weight: 700;
}

.nav_action {
    display: flex;
    gap: 10px;
}

.nav_action li {
    list-style: none;
    font-size: 16px;
    color: #475569;
    font: bold;
    font-weight: 500;
}

.nav_action .sign_up_btn {
    padding: 6px 10px;
    border-radius: 1213px;
    font-size: 15px;
    border: 1px solid #CBD5E1;
}

.nav_action .login_btn {
    border: 1px solid #CBD5E1;
    padding: 6px 20px;
    border-radius: 1213px;
    font-size: 15px;
    color: white;
    background-color: #4F46E5;
}

/* Hero Part Start */
.hero_section {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    margin: 50px auto 0px auto;
    gap: 20px;
}

.hero_section .tagline {
    font-family: 14px;
    font-weight: 600;
    color: #4F46E5;
    border: 1px solid #eef2ff;
    padding: 5px 10px;
    border-radius: 1234px;
    background-color: #eef2ff;
}

.hero_section .hero-title {
    font-weight: 800;
    font-size: 50px;
    color: #1E293B;

}

.hero_section .hero-desc {
    font-size: 18px;
    font-weight: 400;
    color: #475569;
}

.hero_section .store_section {
    display: flex;
    gap: 10px;
    max-width: 300px;
}

.hero_section .store_section img {
    width: 130px;
    height: 44px;
    border-radius: 10px;
}

.hero_img {
    max-width: 1010px;
    margin: auto;
    position: relative;
}

.hero_img img {
    width: 800px;
    margin-top: 40px;
    border-radius: 20px;
    margin-bottom: 100px;
}

.hero_img .mobile_view {
    position: absolute;
    width: 205px;
    border-radius: 30px;
    top: 160px;
    left: 73%;
}



/*Responsive For Tablet */

@media (min-width: 769px) and (max-width: 1024px) {
    /* General Adjustments */

    /* Header & Navigation */
    .nav_section {
        padding: 0 40px;
    }

    .nav_section ul {
        display: flex;
    }


    /* Hero Section */
    .hero_section .hero-title {
        font-size: 48px;
        width: 80%;
        margin: 0 auto;
    }

    .hero_img img {
        margin-top: 60px;
        width: 97%;
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 120px;
    }

    .hero_img .mobile_view {
        left: 60%;
        bottom: 0;
        width: 200px;
        height: 400px;
    }


}