* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    max-width: 1400px;
    margin: auto;
}

.header_section {
    background: linear-gradient(to bottom, #fff, #fdfeff, #b39ef1);
    margin-top: 20px;
}

.nav_section {
    max-width: 1216px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_section img {
    width: 110px;
    height: 32px;
}


.nav_ul {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-items: center;
}

.nav_ul li {
    list-style: none;
    /* font-family: 'Plus Jakarta Sans'; */
    font-size: 16px;
    color: #475569;
    font: bold;
    font-weight: 700;
}

.nav_action {
    display: flex;
    gap: 10px;
}

.nav_action li {
    list-style: none;
    font-size: 16px;
    color: #475569;
    font: bold;
    font-weight: 500;
}

.nav_action .sign_up_btn {
    padding: 6px 10px;
    border-radius: 1213px;
    font-size: 15px;
    border: 1px solid #CBD5E1;
}

.nav_action .login_btn {
    border: 1px solid #CBD5E1;
    padding: 6px 20px;
    border-radius: 1213px;
    font-size: 15px;
    color: white;
    background-color: #4F46E5;
}

/* Hero Part Start */
.hero_section {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    margin: 50px auto 0px auto;
    gap: 20px;
}

.hero_section .tagline {
    font-family: 14px;
    font-weight: 600;
    color: #4F46E5;
    border: 1px solid #eef2ff;
    padding: 5px 10px;
    border-radius: 1234px;
    background-color: #eef2ff;
}

.hero_section .hero-title {
    font-weight: 800;
    font-size: 50px;
    color: #1E293B;

}

.hero_section .hero-desc {
    font-size: 18px;
    font-weight: 400;
    color: #475569;
}

.hero_section .store_section {
    display: flex;
    gap: 10px;
    max-width: 300px;
}

.hero_section .store_section img {
    width: 130px;
    height: 44px;
    border-radius: 10px;
}

.hero_img {
    max-width: 1010px;
    margin: auto;
    position: relative;
}

.hero_img img {
    width: 800px;
    margin-top: 40px;
    border-radius: 20px;
    margin-bottom: 100px;
}

.hero_img .mobile_view {
    position: absolute;
    width: 205px;
    border-radius: 30px;
    top: 160px;
    left: 73%;
}

/* <!-- Social Proof Section --> */
.social_section {
    background-color: #f8fafc;
}

.social_section .social_row1 {
    display: grid;
    gap: 10px;
    align-items: center;
    grid-template-columns: repeat(6, 1fr);
    max-width: 1200px;
    margin: 64px 100px 0px 100px;
    padding: 30px 10px;
}

.social_section .social_row1 img {
    width: 144px;
}


.social_section .social_row2 {
    width: 976px;
    display: grid;
    gap: 5px;
    align-items: center;
    grid-template-columns: repeat(5, 1fr);
    margin: 0px auto 0px auto;
}

.social_section .social_row2 img {
    width: 130px;
}


/* Features Section Start */

.features_section {
    background-color: #f8fafc;
}

.features_upper {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    margin: 50px auto 0px auto;
    gap: 20px;
}

.features_upper p {
    font-size: 14px;
    font-weight: 600;
    color: #4f46e5;
    border: 1px solid #eef2ff;
    padding: 5px 10px;
    border-radius: 1234px;
    background-color: #eef2ff;
}

.features_upper h3 {
    font-weight: 800;
    color: #1e293b;
    font-size: 36px;
}

.features_upper h2 {
    font-weight: 400;
    font-size: 20px;
    color: #475569;
}


.features_lower {
    margin: 50px 60px 0px 60px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px 40px;
}

.features_lower .features_contents {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    text-align: center;


}

.features_lower .features_contents img {
    width: 55px;
    height: 55px;
}